@font-face {
    font-family: 'Elma Trio Regular';
    src: url('../fonts/Elma\ Trio\ Regular.woff2') format('woff');
        font-style: normal;
        font-weight: 400;
}

@font-face {
font-family: 'GT Alpina Typewriter';
src: url('../fonts/GT-Alpina-Typewriter-Light.otf') format('woff');
    font-style: normal;
    font-weight: 300;
}